In [12]:
user = "henry"
email = "henry@gmail.com"
password = "******"
m0d3l_1 = "chatgpt-3"
training_epoch = 100

print(user)
print(email)
print(password)

henry
henry@gmail.com
******

In [8]:
# esta linea es un comentario
""" esto es un comentario
    de multiples lineas
    Genio!!  """

' esto es un comentario\n    de multiples lineas\n    Genio!!  '

In [23]:
#TIPOS DE DATOS

"""
    - String
    - Numerales
    - Booleanos
    - Listas (Object)
    - Dict (Object)
    - Set
    - Tuples
    - Function
"""


# Tipos de dato String
username = "Carlos Perez"
address = "Miami, Florida Florida 1212"

print(username)
print(address)

address.find("1212")
username.find("Perez")

dir(username)

type(username)
type(address)
len(username)

Carlos Perez
Miami, Florida Florida 1212

12

In [56]:
address.count("Florida")

username.isalpha()

username.lower()
username.upper()

#"Entrenando modelo {0} y aplicando FineTunning {1}".format("claude_Opus", "model_0121_finetuning")

model_traing = "claude_Opus"
model_finetunning = "model_0121_finetuning"

f"Entrenando modelo {model_traing} y aplicando FineTunning {model_finetunning}"

'Entrenando modelo claude_Opus y aplicando FineTunning model_0121_finetuning'

In [54]:
address.replace("Florida", "California")
new_adress = " \n  Florida \n California  \n "
print(new_adress)
address.strip(new_adress)

address.split(" ")

email_primary = "carlos@gmail.com"
email_primary.split("@")

  Florida
 California

['carlos', 'gmail.com']

In [61]:
# Tipo de dato Booleano

new_user = True
training_completed = False

print(new_user)
print(training_completed)

type(new_user)
type(training_completed)

is_login = True

True
False

In [5]:
price = 9
puntaje = 13.5

print(price)
print(puntaje)

print(type(price))
print(type(puntaje))

price = price + 3
puntaje = puntaje - 1
puntaje = puntaje * 3
puntaje = puntaje / 2

######
puntaje += 3
price += 8
puntaje -= 3
puntaje *= 3
puntaje /= 3

print(price)

9
13.5
<class 'int'>
<class 'float'>
20

In [32]:
frutas = [ "fresas", "manzanas", "uvas", "naranjas"  ]

print(frutas)
type(frutas)

dir(frutas)

frutas.append("kiwi")
frutas.append("banana")

print(frutas)

frutas.extend(["cerezas", "melon"])
print(frutas)

frutas.pop()
print(frutas)

frutas.pop(2)

print(frutas)

frutas.remove("kiwi")

frutas.remove("banana")
print(frutas)

frutas[-1]

len(frutas)

dir(frutas)

frutas.insert(2, "mandarinas")
print(frutas)

frutas.sort()
frutas

['fresas', 'manzanas', 'uvas', 'naranjas']
['fresas', 'manzanas', 'uvas', 'naranjas', 'kiwi', 'banana']
['fresas', 'manzanas', 'uvas', 'naranjas', 'kiwi', 'banana', 'cerezas', 'melon']
['fresas', 'manzanas', 'uvas', 'naranjas', 'kiwi', 'banana', 'cerezas']
['fresas', 'manzanas', 'naranjas', 'kiwi', 'banana', 'cerezas']
['fresas', 'manzanas', 'naranjas', 'cerezas']
['fresas', 'manzanas', 'mandarinas', 'naranjas', 'cerezas']

['cerezas', 'fresas', 'mandarinas', 'manzanas', 'naranjas']

In [94]:
usuario = {
    "nombre": "Carlos",
    "edad": 28,
    "direccion": "Calle las almendras 121",
    "is_mantrimonio": False,
    "pasatiempos": ["guitarra", "surfear"],
}

print(usuario)
type(usuario)
len(usuario)



print(usuario.get("nombre"))
print(usuario.get("direccion"))
print(usuario.get("pasatiempos"))
print(usuario.get("apellido", ""))
#usuario["apellido"]

# actualizar una propieda
usuario["nombre"] = "Carlos Perez"

usuario["Documento_ID"] = "0129901"
usuario["genero"] = "M"
usuario

dir(usuario)

usuario.update({ "Segundo NOmbre": "Jose",  "email": "carlos@gmail.com"})

usuario.pop("edad")
usuario.pop("email")

#del usuario["genero"]

#usuario.clear()
dir(usuario)

usurio_new = usuario.copy()
print(usurio_new)

usurio_new["balance_bancario"] = 100
usuario["balance_bancario"] = 100

print(usuario)
print(usurio_new)

{'nombre': 'Carlos', 'edad': 28, 'direccion': 'Calle las almendras 121', 'is_mantrimonio': False, 'pasatiempos': ['guitarra', 'surfear']}
Carlos
Calle las almendras 121
['guitarra', 'surfear']

{'nombre': 'Carlos Perez', 'direccion': 'Calle las almendras 121', 'is_mantrimonio': False, 'pasatiempos': ['guitarra', 'surfear'], 'Documento_ID': '0129901', 'genero': 'M', 'Segundo NOmbre': 'Jose'}
{'nombre': 'Carlos Perez', 'direccion': 'Calle las almendras 121', 'is_mantrimonio': False, 'pasatiempos': ['guitarra', 'surfear'], 'Documento_ID': '0129901', 'genero': 'M', 'Segundo NOmbre': 'Jose', 'balance_bancario': 100}
{'nombre': 'Carlos Perez', 'direccion': 'Calle las almendras 121', 'is_mantrimonio': False, 'pasatiempos': ['guitarra', 'surfear'], 'Documento_ID': '0129901', 'genero': 'M', 'Segundo NOmbre': 'Jose', 'balance_bancario': 100}

In [92]:
## TIPO DE DATO SET.

modelos_LLM = {"modelo_chagpt3", "modelo_chagpt3", "modelo_chagpt4", "modelo_claudeOPUS" }

print(modelos_LLM)
print(modelos_LLM)
print(modelos_LLM)

dir(modelos_LLM)

modelos_LLM.add("modelo_gemini")

#modelos_LLM.remove("modelo_claudeOPUS2")
#modelos_LLM.discard("modelo_claudeOPUS")

modelos_LLM

# concatenar conjuntos

modelos_llm_2026 = {"modelo_llama4", "modelo_deepseek", "modelo_claudeOPUS" } 

#print(modelos_LLM)
modelo_LLM_fusion =  modelos_LLM.union(modelos_llm_2026)

#print(modelo_LLM_fusion)

modelos_LLM.update(modelos_llm_2026)
modelos_LLM

print(modelos_LLM - modelos_llm_2026)

{'modelo_chagpt3', 'modelo_chagpt4', 'modelo_claudeOPUS'}
{'modelo_chagpt3', 'modelo_chagpt4', 'modelo_claudeOPUS'}
{'modelo_chagpt3', 'modelo_chagpt4', 'modelo_claudeOPUS'}
{'modelo_gemini', 'modelo_chagpt3', 'modelo_chagpt4'}

In [102]:
# tipo de datos Tuple

countries_blackList = ("china", "rusia", "arabia", "paises bajos" )

print(countries_blackList)
type(countries_blackList)

countries_blackList[0]
#countries_blackList[0] = "espana"

countries_blackList = ("inglaterra", "alemania")

countries_blackList

('china', 'rusia', 'arabia', 'paises bajos')

('inglaterra', 'alemania')

In [111]:
## Function

def name_function():
    print("hola mundo")
    name = "Juan"
    print(name)



nombre_fuccion = name_function

print(nombre_fuccion() )

hola mundo
Juan
None